/* leave-review */
.leave-review__button {
  width: 100%;
  max-width: 300px;
}
.leave-review__img {
  position: relative;
  left: -10%;
  bottom: -27px;
}
.leave-review__button .btn-form {
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  background: var(--color-light);
}
.leave-review h1 {
  text-align: center;
}
/* review-list */
.review-item {
  background: var(--color-light);
  margin: 60px 0;
}
.review-item__name {
  padding: 15px 45px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-dark);
}
.review-item__block {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 25px 45px;
}
.review-item__block--text {
  padding: 15px;
  background: var(--color-dark);
  margin: 0;
}
.review-item__block--img {
  width: 140px;
  height: 140px;
  background: var(--color-dark);
}